
#nav1{

  margin-bottom: 30px;
  
  .dropdown{
    display: inline;
  }
}

table{
  tr{
    //position: absolute;

    &.dragging{
      background-color: beige;
    }

    td{
      &:first-child{
        //margin-top: -2px;
        
         /* span{
          //width: 100%;
          //display: block;
         //clear: both;
          line-height: .4em;
          font-weight: 100;
          //&:first-child{
            //margin-top:-8px;
          //} 
         } */
      }
    }
  }
  
}

